# PostgreSQL
POSTGRES_USER=dw_admin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=epidemiological_dw
POSTGRES_PORT=15432

# MongoDB
MONGO_INITDB_ROOT_USERNAME=dw_admin
MONGO_INITDB_ROOT_PASSWORD=your_password_here
MONGO_DB=epidemiological_dw
MONGO_PORT=27017

# Neo4j
NEO4J_AUTH=neo4j/your_password_here
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

# Kafka
KAFKA_BROKER=kafka:29092
KAFKA_EXTERNAL_PORT=9092

# kSQL
KSQL_PORT=8088

# Backend
BACKEND_PORT=8000

# Frontend
FRONTEND_PORT=3000
